.change-password-container button{
    margin-bottom: 5px;
}

.passwords{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.passwords label{
    font-size: 20px;
    font-weight: bold;
}

.passwords input{
    float: right;
}

#validate-new-pwd{
    border: none;
    border-radius: 9999px;
    padding: 10px;
    color: white;
    background-color: black;
}

#change-pwd{
    border: none;
    border-radius: 9999px;
    padding: 10px;
    color: white;
    background-color: black;
}

#change-pwd-active{
    border: none;
    border-radius: 9999px;
    padding: 10px;
    color: black;
    background-color: white;
    border: 2px black dashed;
    width: auto;
    max-width: 250px;
    min-width: 250px;
}



#pwd1{
    display: flex;
    flex-direction: row;
}

#pwd1 input{
    margin-left: auto   ;
}

#pwd2{
    display: flex;
    flex-direction: row;
}

.change-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}