.unblock-word-container{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px black solid;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.unblock-word-container img{
    width: auto;
    height: 30px;
    margin-left: auto;
    border: 2px black solid;
    cursor: pointer;
}

.unblock-word-container p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.unblocking-word-cross{
    background-color: black;
}